<div class="container">
  <div class="card mt-4">
    <div class="card-body">
      <div class="card-title">
        Nuevo Producto

      </div>
      <form #formulario="ngForm">
      <div class="form-group mt-4">
        <input type="text" [(ngModel)]="selectedProducto.nombre" name="nombre" placeholder="Inserta el nombre del Producto" class="form-control" required>
      </div>
      <div class="form-group mt-4">
        <input type="text" [(ngModel)]="selectedProducto.descripcion" name="descripcion" placeholder="Inserta descripcion del Producto" class="form-control" required>
      </div>
      <div class="form-group mt-4">
        <input type="text" [(ngModel)]="selectedProducto.precio" name="precio" placeholder="Inserta el precio" class="form-control" required>
      </div>
     <div class="form-group mt-4" >
      Categoria
      <p></p>
      <select  type="text" [(ngModel)]="selectedProducto.categoria" class="form-control" name="categoria" required>
        <option [ngValue]="undefined">--Seleccione una categoria--</option>
        <option [ngValue]="categoria" *ngFor="let categoria of categorias">{{categoria.nombre}}</option>

         
      </select>
      </div>
  
      <div class="form-group mt-4">
        <p>Seleccione una imagen</p>
      <div class="input-group">
        <input type="file" class="form-control" id="inputGroupFile04" (change)="cargarImagen($event)">
      </div>
      </div>
      <button (click)="crearProducto()" class="btn btn-primary mt-4" [disabled]="!formulario.form.valid || !archivo">
        Guardar
      </button>
      <button [routerLink]="['/administrador/productos/page/0']" class="btn btn-danger mt-4">
        Salir
      </button>
    </form>
    </div>
  </div>
 
</div>
