<div class="container bg-white rounded">
    <div class="mt-5 rounded-3 " style="height: 70vh;">
        <h4 class="py-2">Estado de tus pedidos</h4>
        <div class="alert alert-primary" role="alert" *ngIf="pedidosMozo.length == 0">
            No hay pedidos a mostrar.
          </div>
                <table class="table table-bordered" *ngIf="pedidosMozo.length > 0">
                    <thead>
                        <tr>
                            <th class="text-center"># de Mesa</th>
                            <th class="text-center">En cola</th>
                            <th class="text-center">En preparación</th>
                            <th class="text-center">Listo</th>
                            <th class="text-center">Entregado</th>
                            <th class="text-center">Hora de pedido</th>
                            <th class="text-center">Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pedido of pedidosMozo">
                            <td class="text-center"><span class="badge bg-primary">Mesa {{pedido.mesa.id}}</span></td>
                            <td class="text-center"><img *ngIf="pedido.estado == 'EN_COLA'" src="https://cdn-icons-png.flaticon.com/512/716/716225.png" width="30px"></td>
                            <td class="text-center"><img *ngIf="pedido.estado == 'EN_PREPARACION'" src="https://cdn-icons-png.flaticon.com/512/716/716225.png" width="30px"></td>
                            <td class="text-center"><img *ngIf="pedido.estado == 'LISTO'" src="https://cdn-icons-png.flaticon.com/512/716/716225.png" width="30px"></td>
                            <td class="text-center"><img *ngIf="pedido.estado == 'ENTREGADO'" src="https://cdn-icons-png.flaticon.com/512/716/716225.png" width="30px"></td>
                            <td class="text-center">{{pedido.fecha}}</td>
                            <td>
                                <a class="btn btn-light btn-sm  float-right font-weight-bold" href="#xd{{i}}" data-bs-toggle="collapse" aria-expanded="false" >Detalle</a>
                                <ul class="list-group list-group-flush ml-4 collapse list-unstyled mt-2"  id="xd{{i}}">
                                    <li class="list-group-item font-italic pl-1" *ngFor="let item of pedido.itemsList"><span *ngIf="item.producto.categoria.nombre != 'BEBIDAS'">{{item.cantidad}}x {{item.producto.nombre}}</span></li>
                                    <div class="d-flex align-items-center mt-1">
                                     
                                    </div>                              
                                
                                </ul>
                            </td>
                                
                           
                        </tr>
                    </tbody>
                </table>
  
    </div>
  </div>
  