<div class="container">
  <h2 class=" mt-5">Lista de usuarios</h2>

  <a class="btn btn-primary mb-4" [routerLink]="['crear-usuario']">Nuevo usuario</a>
  
  <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Usuario</th>
          <th scope="col">Fec. Creación</th>
          <th scope="col">Ult. Modificación</th>
          <th scope="col">Rol</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios" >
          <th scope="row"><button class="btn btn-primary" [routerLink]="['editar-usuario',usuario.nombreUsuario]">{{usuario.id}}</button> </th>
          <td>{{usuario.nombre}} </td>
          <td>{{usuario.nombreUsuario}} </td>
          <td>{{usuario.fecha_creacion}}</td>
          <td>{{usuario.fecha_actualizacion}}</td>
          <td><span class="badge badge-primary ms-1" *ngFor="let rol of usuario.roles">{{rol.rolNombre.toString().split('_')[1]}}</span></td>
          <td>
            <button class="btn btn-info " [routerLink]="[usuario.nombreUsuario,'historial']">Historial</button>
            <button class="btn btn-danger mx-2" (click)="eliminarUsuario(usuario.nombreUsuario)">Eliminar</button>
            <button class="btn btn-light " style="width: 130px" (click)="habilitarOrDeshabilitarUsuario(usuario, true)" *ngIf="usuario.activo == false">Activar</button>
            <button class="btn btn-light " style="width: 130px" (click)="habilitarOrDeshabilitarUsuario(usuario, false)" *ngIf="usuario.activo == true">Deshabilitar</button>
          </td>
        </tr>
         
      </tbody>
    </table>
</div>
