<div style="height: 250px" >
  <ngx-charts-bar-vertical *ngIf="pedidosTotales.length > 0"
  [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  legendTitle="Método">
</ngx-charts-bar-vertical>
<div class="alert alert-primary" role="alert" *ngIf="pedidosTotales.length == 0">
  No hay pagos en este rango de fechas.
</div>
</div>

