<div class="container">
  <h2 class=" mt-3">Lista de mesas</h2>

  <a class="btn btn-primary mb-4" data-toggle="modal" data-target="#staticBackdrop">Nueva Mesa</a>
  <div class="tableFixHead">
    <table class="table table-striped ">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Estado</th>
          <th scope="col">Condicion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mesa of mesas">
          <th scope="row">
            <button class="btn btn-primary" (click)="seleccionarMesa(mesa)" data-toggle="modal" data-target="#staticBackdrop">{{mesa.id}}</button> 
          </th>
          <td>{{mesa.nombre}} </td>
          <td>
            <span class="badge badge-pill badge-secondary">{{mesa.estado}}</span>
          </td>
          <td>
            <span class="badge badge-pill badge-success" *ngIf="mesa.activo">ACTIVO</span>
            <span class="badge badge-pill badge-danger" *ngIf="!mesa.activo">INACTIVO</span>
          </td>

        </tr>

      </tbody>
    </table>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel" *ngIf="mesaActualizar"> Actualiza mesa</h5>
        <h5 class="modal-title" id="staticBackdropLabel" *ngIf="!mesaActualizar">Crear mesa</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="mesaForm" *ngIf="!mesaActualizar">
          <div>
            <label>Nombre</label>
            <input type="text" class="form-control" formControlName="nombre">
          </div>
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" formControlName="activo" [value]="true" checked>
            <label class="form-check-label" for="exampleRadios1">
              Mesa activa
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="activo" [value]="false" checked>
            <label class="form-check-label" for="exampleRadios1">
              Mesa inactiva
            </label>
          </div>
        </form>
        <form [formGroup]="mesaFormActualizar" *ngIf="mesaActualizar">
          <div>
            <label>Nombre</label>
            <input type="text" class="form-control" formControlName="nombre">
          </div>
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" formControlName="activo" [value]="true" checked>
            <label class="form-check-label" for="exampleRadios1">
              Mesa activa
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="activo" [value]="false" checked>
            <label class="form-check-label" for="exampleRadios1">
              Mesa inactiva
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"  [disabled]="mesaForm.invalid" (click)="crearMesa()" *ngIf="!mesaActualizar">
          Crear mesa
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"  [disabled]="mesaFormActualizar.invalid" (click)="actualizarMesa()" *ngIf="mesaActualizar">
          Actualizar mesa
        </button>
      </div>
    </div>
  </div>
</div>