<div class="card-deck mt-5">
    <div class="card  mb-3 list-group-item-action" style="max-width: 18rem; cursor: pointer;" [routerLink]="['productos']">
        <div class="card-body">
        <h2 class="card-title">Productos</h2>
        <ul class="list-group">
            <li class="list-group-item" aria-disabled="true"> Listar productos</li>
            <li class="list-group-item">Crear productos</li>
            <li class="list-group-item">Editar productos</li>
            <li class="list-group-item">Eliminar productos</li>
          </ul>
        </div>
    </div>
    <div class="card  mb-3  list-group-item-action" style="max-width: 18rem; cursor: pointer;" [routerLink]="['usuarios']">
        <div class="card-body">
        <h2 class="card-title">Usuarios</h2>
        <ul class="list-group">
            <li class="list-group-item" aria-disabled="true"> Listar usuarios</li>
            <li class="list-group-item">Crear usuarios</li>
            <li class="list-group-item">Editar usuarios</li>
            <li class="list-group-item">Eliminar usuarios</li>
          </ul>
        </div>
    </div>

    <div class="card  mb-3  list-group-item-action" style="max-width: 18rem; cursor: pointer;" [routerLink]="['roles']">
      <div class="card-body">
      <h2 class="card-title">Roles</h2>
      <ul class="list-group">
          <li class="list-group-item" aria-disabled="true"> Listar usuarios</li>
          <li class="list-group-item">Crear roles</li>
          <li class="list-group-item">Editar roles</li>
          <li class="list-group-item">Eliminar roles</li>
        </ul>
      </div>
    </div>

    <div class="card  mb-3  list-group-item-action" style="max-width: 18rem; cursor: pointer;" [routerLink]="['permisos']">
      <div class="card-body">
      <h2 class="card-title">Permisos</h2>
      <ul class="list-group">
          <li class="list-group-item" aria-disabled="true"> Listar permisos</li>
          <li class="list-group-item">Editar permisos</li>
        </ul>
      </div>
    </div>

</div>
<!-- <app-productos></app-productos> -->