.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(200px,auto);
    gap: 1em;
}

.hover:hover {
    cursor: pointer;
}

.grid div{
    background: #fff;
    padding: 1em;
}
div{
    background: #fff;
    padding: 1em;
}
.grid div:hover{
    border: 1px solid #0f84f1
}
.listado{
    grid-column: 2/5;
    grid-row: 1/4;
}

img {
    height: 280px;
}

body {
    background: hsl(0, 0, 94%);
}

.disabled{
    opacity: 0.5;
    pointer-events: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .agotado{
    position: absolute;
    z-index: 4;
    color: red;
    background-color: transparent;
    top: 43px;
  }

  .agotado h2 {
    font-weight: bolder;
  }

  .agotado-h2{
    display: none;
  }

 .conteiner {
    background-image: url("https://wallpapercave.com/wp/wp1874155.jpg");
    height: 100%;
  }
