  <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
      <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="!medioDePago">
          <div class="modal-header ">
            <h2 class=" text-center w-100" id="exampleModalLabel">Productos seleccionados</h2>
          </div>
          <div class="modal-body">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between" *ngFor="let item of pedido.itemsList">
                <div class="p-0">
                  {{item.producto.nombre}} <strong >x{{item.cantidad}}</strong>
                </div>
                <div class="p-0">
                  <button class="btn btn-success btn-sm" (click)="agregarProductoEnElCarrito(item.producto)">+</button>
                  ${{item.precio * item.cantidad}}
                  <button class="btn btn-danger btn-sm" (click)="quitarProducto(item.producto)">x</button>
                </div>
              </li>
            </ul>
          </div>
          <div class="modal-footer d-flex justify-content-between" >
            <div>
                <h4 class="m-0 p-0">
                  TOTAL: ${{total}}
                </h4>
            </div>
            <div>
              <button type="button" class="btn text-white" data-bs-dismiss="modal" style="background-color: rgb(67, 126, 243);">Agregar más productos</button>
              <button type="button" class="btn text-white ms-4" *ngIf="pedido.itemsList.length > 0" style="background-color: rgb(67, 125, 243);" (click)="guardarpedido()">Realizar pedido</button>
            </div>

          </div>
        </div>
      </div>
    </div>


<div class="conteiner mt-3">
  <div class="d-flex justify-content-between py-0">
    <div>
      <img src="https://cdn-icons.flaticon.com/png/512/450/premium/450166.png?token=exp=1649975936~hmac=51cb321341e65ca1f2ffea666794b0f8" style="width: 50px; height: 50px;" alt="">
    </div>
    <div>
      <h3 class="text-center  py-0">¡MENÚ! <span class="badge bg-primary py-1">Mesa {{mesaId}}</span></h3>
    </div>
    <div class="d-flex align-items-center">
      <h4 class="mb-0 me-3">Total: ${{total}}</h4>
      <button class="btn bg-warning btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img src="https://cdn-icons.flaticon.com/png/512/2832/premium/2832495.png?token=exp=1649973667~hmac=05114fd9d6c007ef109a2b65cd9431cf" style="width: 30px; height: 30px;" alt="">
      </button>
    </div>
    </div>




  <hr class="m-0">
     <div class="d-flex " >
       <div class="card hover p-0" *ngFor="let categoria of categorias" style="width: 10rem;" (click)="seleccionarCategoria(categoria.id)">
        <div class="d-flex align-items-center p-2">
          <div class="p-0" style="width: 20%;">
            <img [src]="categoria.urlImagen"  style="height: 24px; width: 24px;">
          </div>
          
          <div class="p-0 fw-bold" style="width: 80%; font-size: 12px;"> 
            {{categoria.nombre}}
          </div>
          
        </div>

       </div>
    </div>


     <div class="row row-cols-1 row-cols-md-5 g-4">
      <div class="col" *ngFor="let producto of productosPorCategoriaSeleccionado">
        <div class="card p-0 m-1 " >  
          <p class="text-center mb-0 py-2 fw-bold text-secondary" >{{producto.nombre}}</p>
          <hr class="mt-0">
          <img [src]="producto.imgpath" class="card-img-top p-2" style="height: 150px;" alt="...">
          <p class="text-center m-0 fw-bold">${{producto.precio}}</p>
          <div class=" d-flex justify-content-between" >
            <button class="btn btn-secondary btn-sm">Ver más</button>
            <button class="btn btn-success btn-sm" (click)="agregarProducto(producto)">Añadir</button>
          </div>
        </div>
      </div>

    </div>




</div>




