<div class="container pb-5 ">
       <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Reportes  <button class="btn btn-primary" (click)="print()">Descargar</button></h1>
        
        <form>
          <div class="form-row d-flex-justify-content-between" >
            <!-- Fecha desde -->
            <div class="col-md-6">
              <div class="input-group">
                <input type="date" class="form-control" name="desde" [(ngModel)]="fecha_desde" onkeydown="return false">
              </div>
            </div>
            <!-- Fecha hasta -->
            <div class="col-md-6">
              <div class="input-group">
                <input type="date"  class="form-control" name="hasta" onkeydown="return false" [max]="currentDate | date:'yyyy-MM-dd'" [(ngModel)]="fecha_hasta">
              </div>
            </div>
          </div>
        </form>
      </div>
  
  <div class="row mt-4 d-flex justify-content-around flex-wrap flex-md-nowrap align-items-center pt-3 pb-1 mb-1">
    <div class="card col-sm mr-4">
      <div class="card-body text-muted">
        <div class=" d-flex justify-content-around">
          <div>
            <h5 class="card-title">PEDIDOS</h5>
            <h4 class="card-text text-center" >{{nroTotalPedidos}}</h4>
          </div>
          
          <img src="../../../../assets/data.png" style="width: 60px" alt="...">
        </div>
        
      </div>
    </div>
    <div class="card col-sm mr-4" >
      <div class="card-body text-muted">
        <div class=" d-flex justify-content-around">
          <div>
            <h5 class="card-title">INGRESOS</h5>
            <h4 class="card-text text-center">{{totalGananciaDePedidos | currency:'$'}}</h4>
          </div>
          
          <img src="../../../../assets/profit.png" style="width: 60px" alt="...">
        </div>
        
      </div>
    </div>
    <div class="card col-sm">
      <div class="card-body text-muted">
        <div class="d-flex justify-content-around">
          <div>
            <h5 class="card-title">USUARIOS</h5>
            <h4 class="card-text text-center" *ngIf="usuarios$ | async as usuarios">{{ usuarios.data.length }}</h4>
          </div>
          
          <img src="../../../../assets/team.png" style="width: 60px" alt="...">
        </div>
        
      </div>
    </div>
  
    
  </div>
  <div class="mt-4 pt-1 pb-2 mb-3 " >
    <div class="card mb-3 col-sm">
      <div class="card-header bg-white">Venta total</div>
      <div class="card-body">
        <div class="container" >
          <!-- <div class="alert alert-info" role="alert">
            No hay pedidos. Por favor elija otra fecha.
          </div> -->
          <app-line-chart [fecha_desde]="fecha_desde" [fecha_hasta]="fecha_hasta" (totalGananciaDePedidos)="totalGananciaDePedidos=$event" (totalPedidos)="nroTotalPedidos=$event"></app-line-chart>
  

        </div>
       
    </div>
    </div>
  
</div>

<div class="mt-4 d-flex justify-content-between align-items-center pt-1 pb-2 mb-3 " >
  <div class="card mb-3 col-sm mr-4">
    <div class="card-header bg-white">Comidas Top</div>
    <div class="card-body" >
      <div >
        <!-- <div class="alert alert-info" role="alert">
          No hay pedidos. Por favor elija otra fecha.
        </div> -->
        <app-pie-chart [fecha_desde]="fecha_desde" [fecha_hasta]="fecha_hasta" [categoria]="'COMIDA'"></app-pie-chart>
      </div>

    </div>
  </div>
  <div class="card mb-3 col-sm">
    <div class="card-header bg-white">Bebidas Top</div>
    <div class="card-body" >
      <div >
        <!-- <div class="alert alert-info" role="alert">
          No hay pedidos. Por favor elija otra fecha.
        </div> -->
        <app-pie-chart [fecha_desde]="fecha_desde" [fecha_hasta]="fecha_hasta" [categoria]="'BEBIDAS'"></app-pie-chart>
      </div>

    </div>
  </div>

</div>

<div class="mt-4 d-flex justify-content-between align-items-center pt-1 pb-2 mb-3 " >
  <div class="card mb-3 col-sm mr-4">
    <div class="card-header bg-white">Postres Top</div>
    <div class="card-body" >
      <div >
        <!-- <div class="alert alert-info" role="alert">
          No hay pedidos. Por favor elija otra fecha.
        </div> -->
        <app-pie-chart [fecha_desde]="fecha_desde" [fecha_hasta]="fecha_hasta" [fecha_hasta]="fecha_hasta" [categoria]="'POSTRES'"></app-pie-chart>
      </div>

    </div>
  </div>
  <div class="card mb-3 col-sm">
    <div class="card-header bg-white">Métodos de pago</div>
    <div class="card-body">
      <div class="container" >
        <app-bar-chart [fecha_desde]="fecha_desde" [fecha_hasta]="fecha_hasta"></app-bar-chart>
      </div>
     
  </div>
  </div>
</div>

<!-- <div class="mt-4 pt-1" > -->


<!-- </div> -->
<div class="card">
  <div class="card-header bg-white">Reporte de mozos</div>
  <div class="card-body">
    <div class="container" >
      <app-reporte-mozo-chart [fecha_desde]="fecha_desde" [fecha_hasta]="fecha_hasta"></app-reporte-mozo-chart>
    </div>
   
</div>
</div>


</div>





