<div class="container bg-white rounded">


  <div class="mt-5 rounded-3 pb-5" style="width: 80%; margin: auto;">
    
    <div class="d-flex mb-5">
      <h4 class="py-2">COCINA</h4>
      <div class="d-flex align-items-center">
        <button class="btn btn-primary mx-3 btn-sm" (click)="activarTodosLosPedidos()">TODOS</button>
        <button class="btn btn-danger mr-3 btn-sm" (click)="pedidosPorEstado('EN_COLA')">EN COLA</button>
        <button class="btn btn-warning btn-sm mr-3"(click)="pedidosPorEstado('EN_PREPARACION')">EN PREPARACIÓN</button>
        <button class="btn btn-success btn-sm mr-3"(click)="pedidosPorEstado('LISTO')">LISTO</button>
          <span class="font-weight-bold">HORA: {{fechaActual | date: 'shortTime'}}</span> 
      </div>

    </div>
    
      <table class="table table-sm mt-3">
        <div class="card p-2">
          <div class="row ">
            <div class="col ml-2">
              <span class="font-weight-bold">Mesa</span>
            </div>
          <div class="col">
            <span class="font-weight-bold text-center">Hora</span>
          </div>
          <div class="col text-center font-weight-bold">
            <span>Estado</span>
          </div>
          <div class="col">
           <span class="float-right mr-2 font-weight-bold">Detalle pedido</span>
          </div>
        </div>
        </div>
        <tbody *ngIf="!pedidosFiltradoActivo">
          <tr *ngFor="let pedido of pedidos; let i = index">
          <div class="card p-2">
              <div class="row ">
                <div class="col">
                  <span class="">Mesa: {{pedido.mesa.id}}</span>
                </div>
              <div class="col">
                <span class="text-center">{{ pedido.fecha.slice(10,pedido.fecha.length)}}</span>
              </div>
              <div class="col text-center">
                <div class="btn btn-danger btn-sm btn-block" *ngIf="pedido.estado == 'EN_COLA'">EN COLA</div>
                <div class="btn btn-warning btn-sm btn-block" *ngIf="pedido.estado == 'EN_PREPARACION'">EN PREPARACIÓN</div>
                <div class="btn btn-success btn-sm btn-block" *ngIf="pedido.estado == 'LISTO'">LISTO</div>
              </div>
              <div class="col">
                <a class="btn btn-light btn-sm  float-right font-weight-bold" href="#xd{{i}}" data-bs-toggle="collapse" aria-expanded="false" >Detalle</a>
              </div>
            </div>

              
            <ul class="list-group list-group-flush ml-4 collapse list-unstyled mt-2"  id="xd{{i}}">
              <li class="list-group-item font-italic pl-1" *ngFor="let item of pedido.itemsList"><span *ngIf="item.producto.categoria.nombre != 'BEBIDAS'">{{item.cantidad}}x {{item.producto.nombre}}</span></li>
              <div class="d-flex align-items-center mt-1">
                <span class="font-weight-bold mr-2">Actualizar estado:</span>
                <div class="badge badge-pill badge-danger"  style="cursor: pointer" (click)="actualizarEstadoPedido(pedido, 'EN_COLA')">EN COLA</div>
                <div class="badge badge-pill badge-warning mx-2"  style="cursor: pointer" (click)="actualizarEstadoPedido(pedido, 'EN_PREPARACION')">EN PREPARACIÓN</div>
                <div class="badge badge-pill badge-success"  style="cursor: pointer" (click)="actualizarEstadoPedido(pedido, 'LISTO')">LISTO</div>
              </div>
              
            
            </ul>
          </div>
          </tr>
        </tbody>
        <tbody *ngIf="pedidosFiltradoActivo">
          <tr *ngFor="let pedido of pedidosFiltrados; let i = index">
          <div class="card p-2">
              <div class="row ">
                <div class="col">
                  <span class="">Mesa: {{pedido.mesa.id}}</span>
                </div>
              <div class="col">
                <span class=" text-center">{{ pedido.fecha.slice(10,pedido.fecha.length)}}</span>
              </div>
              <div class="col text-center">
                <div class="btn btn-danger btn-sm btn-block" *ngIf="pedido.estado == 'EN_COLA'">EN COLA</div>
                <div class="btn btn-warning btn-sm btn-block" *ngIf="pedido.estado == 'EN_PREPARACION'">EN PREPARACIÓN</div>
                <div class="btn btn-success btn-sm btn-block" *ngIf="pedido.estado == 'LISTO'">LISTO</div>
              </div>
              <div class="col">
                <a class="btn btn-light btn-sm  float-right font-weight-bold" href="#xd{{i}}" data-bs-toggle="collapse" aria-expanded="false" >Detalle</a>
              </div>
            </div>

              
            <ul class="list-group list-group-flush ml-4 collapse list-unstyled mt-2"  id="xd{{i}}">
              <li class="list-group-item font-italic pl-1" *ngFor="let item of pedido.itemsList"><span *ngIf="item.producto.categoria.nombre != 'BEBIDAS'">{{item.cantidad}}x {{item.producto.nombre}}</span></li>
              <div class="d-flex align-items-center mt-1">
                <span class="font-weight-bold mr-2">Actualizar estado:</span>
                <div class="badge badge-pill badge-danger"  style="cursor: pointer" (click)="actualizarEstadoPedido(pedido, 'EN_COLA')">EN COLA</div>
                <div class="badge badge-pill badge-warning mx-2"  style="cursor: pointer" (click)="actualizarEstadoPedido(pedido, 'EN_PREPARACION')">EN PREPARACIÓN</div>
                <div class="badge badge-pill badge-success"  style="cursor: pointer" (click)="actualizarEstadoPedido(pedido, 'LISTO')">LISTO</div>
              </div>
              
            
            </ul>
          </div>
          </tr>
        </tbody>
      </table>
  </div>
</div>
